<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
   <main>
      <form method="post">
        <fieldset>
          <legend>User personal information</legend>

          <label>Enter your full name</label>
          <input type="text" name="name" />

          <label>Enter your email</label>
          <input type="email" name="email" />

          <label>Enter your password</label>
          <input type="password" name="password" />
          <!-- <label>Confirm your password</label>
          <input type="password" name="confirmPass" /> -->

          <button type="submit">Submit</button>

        </fieldset>
      </form>
    </main>
</body>
</html>